<fieldset class="fieldsetBorder">
  <legend class="fieldsetBorder mb-5">Rapport de production</legend>

  <span>Nombre de nouveaux contrats de crédit automobile réalisés.</span>
  <br />
  <br />

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-6">

        <form [formGroup]="createDateForm" (ngSubmit)="onSubmit(createDateForm.value)">
          <div class="form-group row">
            <label class="col-4 col-form-label">Date de debut : </label>
            <div class="col-7 offset-1">
              <input type="date" class="form-control sharp glowOrange" placeholder="Expected Date"
                [ngClass]="{ 'is-invalid': submitted && f.start.errors }" formControlName="start" />

              <div *ngIf="submitted && f.start.errors" class="invalid-feedback">
                <div *ngIf="f.start.errors['required']">
                  Champ non valide
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Date de fin : </label>
            <div class="col-7 offset-1">
              <input type="date" class="form-control sharp glowOrange" placeholder="Expected Date"
                [ngClass]="{ 'is-invalid': submitted && f.end.errors }" formControlName="end" />
              <div *ngIf="submitted && f.end.errors" class="invalid-feedback">
                <div *ngIf="f.end.errors['required']">
                  Champ non valide
                </div>
              </div>
            </div>
          </div>

          <div class="mt-4">
            <button class="btn btn-sm btn-outline-dark mr-2" type="submit">
              Valider </button>
          </div>
        </form>

      </div>

      <div class="col-6">
        <h5>Nombre de nouveaux contrats dans la période sélectionnée :</h5>
        <div class="text-center">
          <!-- TODO: afficher résultat calcul de la DB -->
          <h1 class="mt-5">{{data}}</h1>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<!-- TODO: afficher message aide ci-dessous -->

<div>
  <hr />
  <fieldset class="fieldsetBorder p-3">
    Aide : Entrer la date à partir de laquelle est calculé le nombre de nouveaux
    contrats établis, puis cliquer sur « Valider »
  </fieldset>
</div>

<!-- TODO: remove -->
<!--<div class="offset-3" style="font-size: 10px;">
  Dev :
  <br>
  <pre>date start : {{ date.year }}-{{ date.month }}</pre>
  <pre>Model: {{ model | json }}</pre>
</div> -->