
  <div class="container mt-5">
    <div class="row">
      <div class="col-10">
          <h5>Bienvenue sur l'application Crédit Auto.</h5>
        <p class="mt-5">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet
          blanditiis suscipit eos magni sed, saepe nesciunt. Rem, molestiae
          laboriosam. Magnam, dignissimos neque architecto debitis odio ullam
          corporis amet exercitationem nostrum voluptas necessitatibus culpa
          ipsam porro. Atque nulla minus dignissimos consequuntur, quam
          necessitatibus veritatis quisquam, natus nostrum vel culpa.
          Laboriosam, animi!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          incidunt nobis velit sunt non voluptatum at aut quas fugit porro?
          Incidunt tempora, blanditiis similique at alias, reprehenderit ut
          voluptatem eaque libero inventore quisquam. Non ullam repellendus,
          velit optio aliquid cupiditate. Culpa minima
          ea dolorum eaque vel voluptatem, laboriosam doloremque modi.
        </p>
      </div>
    </div>
  </div>
