<form [formGroup]="ratesForm" (ngSubmit)="onSubmit()" >
<fieldset class="scheduler-border text-center  take">
    <h4>Configuration Du Taux</h4>
    <fieldset class="fieldsetBorder conf">
        <legend class="fieldsetBorder">Configuration Du Taux</legend>

        <div class="form-group row">
          <label class="col-2 col-form-label">{{ratesArray[0].rateName}}</label>
          <div class="col-3">
            <input id="T1" name="t1" class="form-control sharp glowOrange"
                value="{{ratesArray[0].rateValue}}"
                formControlName="t1" />

          </div>


          <label class="col-2 col-form-label">{{ratesArray[3].rateName}}</label>
          <div class="col-3">
            <input id="T4" name="t4" class="form-control sharp glowOrange"
            value="{{ratesArray[3].rateValue}}" formControlName="t4"
              />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label">{{ratesArray[1].rateName}}</label>
          <div class="col-3">
            <input id="T2" name="t2" class="form-control sharp glowOrange"
            value="{{ratesArray[1].rateValue}}" formControlName="t2" />
          </div>
          <label class="col-2 col-form-label">{{ratesArray[4].rateName}}</label>
          <div class="col-3">
            <input id="T5" name="t5" class="form-control sharp glowOrange"
            value="{{ratesArray[4].rateValue}}" formControlName="t5"
               />
          </div>
          </div>

          <div class="form-group row">
              <label class="col-2 col-form-label">{{ratesArray[2].rateName}}</label>
              <div class="col-3">
                <input id="T3" name="t3"  class="form-control sharp glowOrange"
                value="{{ratesArray[2].rateValue}}" formControlName="t3"
                   />
              </div>
              <label class="col-2 col-form-label">{{ratesArray[5].rateName}}</label>
          <div class="col-3">
            <input id="T6" name="t6"  class="form-control sharp glowOrange"
            value="{{ratesArray[5].rateValue}}" formControlName="t6"
                />
          </div>



        </div>
        <button class=" btn btn-dark sharp bigbtn" >
            Valider
          </button>



        </fieldset>
        <div>
        <fieldset class="fieldsetBorder Schema">
            <legend class="fieldsetBorder">Schema explicatif</legend>

            <img alt="arbre algorithmique" class="img-fluid" src="../../../assets/img/arbre.png " >
        </fieldset>
        </div>
        </fieldset>
      </form>




