<fieldset class="fieldsetBorder">
  <legend class="fieldsetBorder">Simulation d'un crédit</legend>

  <!-- TODO: responsive mobile col-12 -->
  <!-- TODO: tous les champs de formulaire 'number only' -->
  <div class="row">

    <div class="col-6">

      <form [formGroup]="simulateForm"
      (ngSubmit)="onSubmit(simulateForm.value)">

        <div class="form-group row">
          <label for="purchasePrice" class="col-5 col-form-label">Montant de l'achat</label>
          <div class="col-6">
            <input id="purchasePrice" name="amountPurchase" class="form-control sharp glowOrange"
              formControlName="amountPurchase" type="number" />
          </div>
        </div>

        <div class="form-group row">
          <label for="loanAmount" class="col-5 col-form-label">Montant du crédit</label>
          <div class="col-6">
            <input id="loanAmount" name="amountLoan" class="form-control sharp glowOrange" formControlName="amountLoan"
              type="number" />
          </div>
        </div>

        <!-- TODO: change color border select -->
        <div class="form-group row">
          <label for="category" class="col-5 col-form-label">Catégorie</label>
          <div class="col-6">
            <select id="category" name="category" class="form-control sharp glowOrange" formControlName="category">
              <option>A</option>
              <option>B</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="durationLoan" class="col-5 col-form-label">Durée du crédit (en mois)</label>
          <div class="col-6">
            <input id="durationLoan" name="durationLoan" class="form-control sharp glowOrange"
              formControlName="durationLoan" type="number" />
          </div>
        </div>

        <div class="form-group row">
          <label for="loanPrice" class="col-5 col-form-label">Coût du crédit</label>
          <div class="col-6">
            <input id="loanPrice" disabled name="loanCost" class="form-control sharp" formControlName="loanCost" />
          </div>
        </div>

        <div class="d-flex justify-content-around">
          <button *ngIf="isBtnsVisible"
          class="btn btn-dark sharp mt-4" type="submit">
            Calculer crédit
          </button>

          <!-- TODO: ajout method pour afficher Echeancier (click) -->
          <button *ngIf="!isBtnsVisible"
          class="btn btn-dark sharp mt-4" type="button">
            Echéancier
          </button>
          <!-- TODO: ajout method pour creer le contrat (click) -->
          <button *ngIf="!isBtnsVisible"
          class="btn btn-dark sharp mt-4" type="button">
            Créer contrat
          </button>
          <!-- if you don't want a btn to submit the form, you could add : type="button" -->
          <button class="btn btn-dark sharp mt-4" type="reset" (click)="reset()">
            Annuler
          </button>

        </div>

      </form>


    </div>

    <!-- TODO: Tableau echeance -->
    <div class="col-6">
      <table class="table" table-striped>
        <thead>
          <tr>
            <th>Date</th>
            <th>Montant</th>
            <th>Montant cumulé</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let op of ops">
            <td>{{ op.date | date: "MM/dd/yyyy" }}</td>
            <td>{{ op.montant }}</td>
            <td>{{ op.montantCumule }}</td>
          </tr>
        </tbody>
      </table>
      <div class="container spacer">
        <ul class="nav nav-pills">
          <li ng-repeat="p in pages track by $index">
            <a ng-click="goToPage">{{ $index }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</fieldset>
