<fieldset class="fieldsetBorder">
  <legend class="fieldsetBorder">Simulation d'un crédit</legend>

  <!-- TODO: responsive mobile col-12 -->
  <!-- TODO: tous les champs de formulaire 'number only' -->
  <div class="row">
    <div class="col-6">

      <!-- [formGroup]="simulateForm"   -->
      <form [formGroup]="simulateForm"
      (ngSubmit)="onSubmit(simulateForm.value)">

        <div class="form-group row">
          <label for="purchasePrice" class="col-5 col-form-label"
            >Montant de l'achat</label
          >
          <div class="col-6">
            <input
              id="purchasePrice"
              class="form-control sharp glowOrange"
              formControlName="amountPurchase"
              type="number"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="loanAmount" class="col-5 col-form-label"
            >Montant du crédit</label
          >
          <div class="col-6">
            <input
              id="loanAmount"
              class="form-control sharp glowOrange"
              formControlName="amountLoan"
              type="number"
            />
          </div>
        </div>

        <!-- TODO: change color border select -->
        <div class="form-group row">
          <label for="category" class="col-5 col-form-label">Catégorie</label>
          <div class="col-6">
            <select
              id="category"
              class="form-control sharp glowOrange"
              formControlName="category"
            >
              <option>A</option>
              <option>B</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="durationLoan" class="col-5 col-form-label"
            >Durée du crédit (en mois)</label
          >
          <div class="col-6">
            <input
              id="durationLoan"
              class="form-control sharp glowOrange"
              formControlName="durationLoan"
              type="number"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="loanPrice" class="col-5 col-form-label"
            >Coût du crédit</label
          >
          <div class="col-6">
            <input
              id="loanPrice"
              disabled
              class="form-control sharp"
              formControlName="loanCost"
            />
          </div>
        </div>

        <div class="d-flex justify-content-around">
          <button class="btn btn-dark sharp mt-4" type="submit">
            Calculer crédit
          </button>
          <!-- if you don't want a btn to submit the form, you could add : type="button" -->
          <button class="btn btn-dark sharp mt-4" type="reset">Annuler</button>
        </div>

      </form>

    </div>
  </div>
</fieldset>
