<fieldset class="fieldsetBorder">
  <legend class="fieldsetBorder">Simulation d'un crédit</legend>

  <!-- TODO: responsive mobile col-12 -->
  <!-- TODO: tous les champs de formulaire 'number only' -->
  <div class="row">
    <div class="col-6">
      <form
        [formGroup]="simulateForm"
        (ngSubmit)="onSubmit(simulateForm.value)"
      >
        <div class="form-group row">
          <label for="purchasePrice" class="col-5 col-form-label"
            >Montant de l'achat (€)</label
          >
          <div class="col-6">
            <input
              id="purchasePrice"
              name="amountPurchase"
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.amountPurchase.errors }"
              formControlName="amountPurchase"
              type="number"
            />
            <div
              *ngIf="submitted && f.amountPurchase.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.amountPurchase.errors['required']">
                Entrer montant
              </div>
              <div *ngIf="f.amountPurchase.errors['maxLength']">
                Valeur doit ètre inférieur à 6 caractère
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="loanAmount" class="col-5 col-form-label"
            >Montant du crédit (€)</label
          >
          <div class="col-6">
            <input
              id="loanAmount"
              name="amountLoan"
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.amountLoan.errors }"
              formControlName="amountLoan"
              type="number"
            />
            <div
              *ngIf="submitted && f.amountLoan.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.amountLoan.errors['required']">Entrer montant</div>
            </div>
          </div>
        </div>

        <!-- TODO: change color border select -->
        <div class="form-group row">
          <label for="category" class="col-5 col-form-label"
            >Catégorie véhicule</label
          >
          <div class="col-6">
            <select
              id="category"
              name="category"
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.category.errors }"
              formControlName="category"
            >
              <option></option>
              <option>A</option>
              <option>B</option>
            </select>
            <div
              *ngIf="submitted && f.category.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.category.errors['required']">Entrer catégorie</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="durationLoan" class="col-5 col-form-label"
            >Durée du crédit (mois)</label
          >
          <div class="col-6">
            <input
              id="durationLoan"
              name="durationLoan"
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.durationLoan.errors }"
              formControlName="durationLoan"
              type="number"
            />
            <div
              *ngIf="submitted && f.durationLoan.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.durationLoan.errors['required']">Entrer durée</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-5 col-form-label">Coût du crédit (€)</label>
          <div class="col-6">
            <input
              disabled
              name="loanCost"
              class="form-control sharp"
              value="{{ simulationResult.totalCost }}"
            />
          </div>
        </div>

        <ng-container *ngIf="isEcheanceVisible">
          <div class="form-group row">
            <label for="loanPrice" class="col-5 col-form-label"
              >Montant de l'échéance (€)</label
            >
            <div class="col-6">
              <input
                disabled
                name="monthlyCost"
                class="form-control sharp"
                value="{{ simulationResult.monthlyCost }}"
              />
            </div>
          </div>
        </ng-container>

        <div class="d-flex justify-content-around">
          <button
            *ngIf="isBtnsVisible"
            class="btn btn-dark sharp mt-4"
            type="submit"
          >
            Calculer crédit
          </button>

          <!-- TODO: ajout method pour afficher Echeancier (click) -->
          <button
            *ngIf="!isBtnsVisible"
            class="btn btn-dark sharp mt-4"
            type="button"
            (click)="echeance()"
          >
            Echéancier
          </button>
          <!-- TODO: ajout method pour creer le contrat (click) -->
          <button
            routerLink="/client"
            *ngIf="!isBtnsVisible"
            class="btn btn-dark sharp mt-4"
            type="button"
          >
            Créer contrat
          </button>
          <!-- if you don't want a btn to submit the form, you could add : type="button" -->
          <button
            class="btn btn-dark sharp mt-4"
            type="reset"
            (click)="reset()"
          >
            Annuler
          </button>
        </div>
      </form>
    </div>

    <!-- TODO: Tableau echeance -->
    <div class="col-6">
      <table class="table" table-striped>
        <thead>
          <tr>
            <th>Date</th>
            <th>Montant</th>
            <th>Montant cumulé</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{ item.lastUpdate | date: 'MM/dd/yyyy' }}</td>
            <td>{{ item }}</td>
            <td>{{ item }}</td>
          </tr>
        </tbody>
      </table>
      <div class="container spacer">
        <ul class="nav nav-pills">
          <li ng-repeat="p in pages track by $index">
            <a ng-click="goToPage">{{ $index }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</fieldset>
