<fieldset class="fieldsetBorder">
  <legend class="fieldsetBorder">Recherche client</legend>






  <div class="d-flex justify-content-center">
    <button class="btn btn-dark sharp mt-4 mr-1" type="submit">
      Rechercher
    </button>

    <button class="btn btn-dark sharp mt-4 ml-1" type="button">
      Annuler
    </button>
  </div>
</fieldset>

<fieldset class="fieldsetBorder">
  <legend class="fieldsetBorder">Création client</legend>





  <div class="d-flex justify-content-center">
      <button class="btn btn-dark sharp mt-4 mr-1" type="submit">
        Créer client
      </button>

      <button class="btn btn-dark sharp mt-4 ml-1" type="button">
        Annuler
      </button>
    </div>
</fieldset>
