<fieldset class="fieldsetBorder">
  <legend class="fieldsetBorder">Recherche client</legend>

  <!-- [formGroup]="customerForm"
  (ngSubmit)="onSubmit(simulateForm.value)" -->

  <!-- <form> -->

  <div class="container">
    <div class="form-group row justify-content-center">
      <label for="purchasePrice" class="col-2 col-form-label text-right"
        >Nom</label
      >

      <div class="col-3">
        <input
          id="customerFirstname"
          name="customerFirstname"
          class="form-control sharp glowOrange"
          formControlName="customerFirstname"
          type="text"
        />
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="loanAmount" class="col-2 col-form-label text-right"
        >Prénom</label
      >
      <div class="col-3">
        <input
          id="customerLastname"
          name="customerLastname"
          class="form-control sharp glowOrange"
          formControlName="customerLastname"
          type="text"
        />
      </div>
    </div>

    <!-- </form> -->

    <div class="d-flex justify-content-center">
      <button class="btn btn-dark sharp mt-4 mr-1" type="submit">
        Rechercher
      </button>

      <button class="btn btn-dark sharp mt-4 ml-1" type="button">
        Annuler
      </button>
    </div>
  </div>

  <!--
  <form #searchUserForm="ngForm" (ngSubmit)="submit(monForm)">

      <input
        [(ngModel)]="query"
        type="search"
        class="form-control"
        name="queryControl"
      />


    </form> -->
</fieldset>

<fieldset class="fieldsetBorder">
  <legend class="fieldsetBorder">Création client</legend>

  <div class="d-flex justify-content-center">
    <button class="btn btn-dark sharp mt-4 mr-1" type="submit">
      Créer client
    </button>

    <button class="btn btn-dark sharp mt-4 ml-1" type="button">
      Annuler
    </button>
  </div>
</fieldset>

<div *ngIf="router.url === '/client'">
  <hr />
  <fieldset class="fieldsetBorder p-3">
    Aide : Pour associer un client au crédit en cours de création, rechercher le
    client à l’aide de ses noms et prénoms.
    <br />
    S’il n’existe pas, créer un compte.
  </fieldset>
</div>
