<div id="headerNavbar">
  <div class="container">
  <div class="row">
    <div class="offset-1 col-11 col-md-5 offset-md-2">
      <!-- TODO: Url -> home sur logo -->
      <a class="navbar-brand" href="#">
        <img id="logo" class="img-fluid" src="{{ logo }}" />
      </a>
    </div>
    <div class="col-5 col-md-3 d-flex align-items-end pb-2">
      <i class="far fa-user pb-1 pr-2"></i>
      <!-- TODO: {{ user.connected.name }} -->
      <span>Justin Trudeau</span>
    </div>

    <div class="offset-3 offset-md-0 col-4 col-md-2 d-flex align-items-end pb-2 pl-0">
      <!-- Todo: *ngIf {{ user.connected }} or deconnected affichage string en conséquence-->
      <span class="pr-1">Déconnexion</span>
    </div>
  </div>
</div>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Crédit auto</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon" (click)="isCollapsed = !isCollapsed">
    </span>
  </button>
  <div
    class="collapse navbar-collapse"
    [class.collapse]="isCollapsed"
    id="navbarNavDropdown"
  >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link">
          Accueil <span class="sr-only">(current)</span></a>
      </li>
      <!-- btn ex : btn-outline-primary -->

      <div ngbDropdown class="d-inline-block">
        <button class="btn darkDropdown" id="dropdownBasic1" ngbDropdownToggle>
          Crédit
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem >Créer contrat de crédit auto</button>
          <button ngbDropdownItem>Rechercher un contrat</button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button class="btn darkDropdown" id="dropdownBasic1" ngbDropdownToggle>
          Location
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Vérifier contrat en cours client</button>
          <button ngbDropdownItem>Emettre conditions de location</button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button class="btn darkDropdown" id="dropdownBasic1" ngbDropdownToggle>
          Statistiques
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Rapport de production</button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button class="btn darkDropdown" id="dropdownBasic1" ngbDropdownToggle>
          Administration
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Loueurs partenaires</button>
          <button ngbDropdownItem>Taux de crédit</button>
          <button ngbDropdownItem>Conditions de locations</button>
        </div>
      </div>
    </ul>
    <a routerLink="/client">aaaa</a>
    <a [routerLink]="'/client'">aaa</a>
  </div>
</nav>
