<div id="headerNavbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-start">
        <a class="navbar-brand" routerLink="/home">
          <img id="logo" class="img-fluid" src="{{ logo }}" />
        </a>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Crédit Auto</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon" (click)="isCollapsed = !isCollapsed">
    </span>
  </button>
  <div
    class="collapse navbar-collapse"
    [class.collapse]="isCollapsed"
    id="navbarNavDropdown"
  >
    <ul class="navbar-nav">

      <li class="nav-item active">
        <!-- TODO: Link depending of user privilege/connected status -->
        <a class="nav-link" routerLink="/home">
          Accueil <span class="sr-only">(current)</span></a
        >
      </li>

      <div ngbDropdown class="d-inline-block">
        <button class="btn darkDropdown" id="dropdownBasic1" ngbDropdownToggle>
          Crédit
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="/simulation">
            Créer contrat de Crédit Auto
          </button>
          <button ngbDropdownItem routerLink="/contrat">
            Rechercher un contrat
          </button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button class="btn darkDropdown" id="dropdownBasic1" ngbDropdownToggle>
          Location
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="/client">
            Vérifier contrat en cours client
          </button>
          <button ngbDropdownItem disabled>Emettre conditions de location</button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button class="btn darkDropdown" id="dropdownBasic1" ngbDropdownToggle>
          Statistiques
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="/statistiques">
            Rapport de production
          </button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button class="btn darkDropdown" id="dropdownBasic1" ngbDropdownToggle>
          Administration
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem disabled>Loueurs partenaires</button>
          <button ngbDropdownItem routerLink="/taux">Taux de crédit</button>
          <button ngbDropdownItem disabled>Conditions de locations</button>
        </div>
      </div>
    </ul>

    <!-- <div class="col-5 col-md-3 d-flex align-items-end pb-2">
      <i class="far fa-user pb-1 pr-2"></i>
      <span>Justin Trudeau</span>
    </div>

    <div class="offset-3 offset-md-0 col-4 col-md-2 d-flex align-items-end pb-2 pl-0">
      <span class="pr-1">Déconnexion</span>
    </div> -->

  </div>
</nav>
