<fieldset class="fieldsetBorder">
  <legend class="fieldsetBorder">Creation d'un client</legend>
  <div class="d-flex justify-content-center">
    <!-- TODO: responsive mobile col-12 -->
    <!-- TODO: tous les champs de formulaire 'number only' -->
    <div class="row">
      <form
        [formGroup]="createClientForm"
        (ngSubmit)="onSubmit(createClientForm.value)"
      >
        <div class="form-group row">
          <label class="col-4 col-form-label">Nom : </label>
          <div class="col-7 offset-1">
            <input
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
              formControlName="lastname"
              type="text"
            />
            <div
              *ngIf="submitted && f.lastname.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.lastname.errors['required']">
                Inserer votre nom
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="firstName" class="col-4 col-form-label">Prenom : </label>
          <div class="col-7 offset-1">
            <input
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
              formControlName="firstName"
              type="text"
            />
            <div
              *ngIf="submitted && f.firstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.firstName.errors['required']">
                Inserer votre prénom
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="genre" class="col-4 col-form-label">Civilité : </label>
          <div class="col-7 offset-1">
            <select
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.genre.errors }"
              formControlName="genre"
            >
              <option></option>
              <option>Mr</option>
              <option>Mrs</option>
            </select>
            <div *ngIf="submitted && f.genre.errors" class="invalid-feedback">
              <div *ngIf="f.genre.errors['required']">
                Entrer votre civilité
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Adresse : </label>
          <div class="col-7 offset-1">
            <input
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
              formControlName="address"
              type="text"
            />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors['required']">
                Inserer une adresse
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Ville :</label>
          <div class="col-7 offset-1">
            <input
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
              formControlName="city"
              type="text"
            />
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div *ngIf="f.city.errors['required']">Inserer la ville</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Code postal : </label>
          <div class="col-7 offset-1">
            <input
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.codePostal.errors }"
              formControlName="codePostal"
              type="text"
            />
            <div
              *ngIf="submitted && f.codePostal.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.codePostal.errors['required']">
                Inserer un element
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Email : </label>
          <div class="col-7 offset-1">
            <input
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              formControlName="email"
              type="text"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors['required']">
                Inserer un element
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Date de naissance : </label>
          <div class="col-7 offset-1">
            <input
              type="date"
              class="form-control"
              placeholder="Expected Date"
              formControlName="date"
            />
            <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
              <div *ngIf="f.date.errors['required']">
                Inserer element
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-around">
          <button class="btn btn-success btn-lg mt-4" type="submit">
            Creer client
          </button>

          <button
            class="btn btn-dark btn-lg mt-4"
            type="reset"
            (click)="onReset()"
          >
            Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</fieldset>
