<fieldset class="fieldsetBorder">
  <legend class="fieldsetBorder">Creation d'un client</legend>
  <!-- TODO: responsive mobile col-12 -->
  <!-- TODO: tous les champs de formulaire 'number only' -->

  <div class="row">
    <div class="col-12 col-md-6">
      <form
        [formGroup]="createClientForm"
        (ngSubmit)="onSubmit(createClientForm.value)"
      >
        <div class="form-group row">
          <label class="col-4 col-form-label">Nom : </label>
          <div class="col-7 offset-1">
            <input
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
              formControlName="lastName"
              type="text"
              placeholder="Nom"
            />
            <div
              *ngIf="submitted && f.lastName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.lastName.errors['required']">
                Champ non valide
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Prenom : </label>
          <div class="col-7 offset-1">
            <input
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
              formControlName="firstName"
              type="text"
              placeholder="Prenom"
            />
            <div
              *ngIf="submitted && f.firstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.firstName.errors['required']">
                Champ non valide
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Civilité : </label>
          <div class="col-7 offset-1">
            <select
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
              formControlName="gender"
            >
              <option value="">Veuillez selectionner</option>
              <option value="M">Mr</option>
              <option value="F">Mrs</option>
            </select>
            <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
              <div *ngIf="f.gender.errors['required']">
                Champ non valide
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Adresse : </label>
          <div class="col-7 offset-1">
            <input
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
              formControlName="address"
              type="text"
              placeholder="Ex : 182 rue diginamic"
            />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors['required']">
                Champ non valide
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Ville :</label>
          <div class="col-7 offset-1">
            <input
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
              formControlName="city"
              type="text"
              placeholder="Ex : Montpellier"
            />
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div *ngIf="f.city.errors['required']">Champ non valide</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Code postal : </label>
          <div class="col-7 offset-1">
            <input
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }"
              formControlName="zipCode"
              type="number"
              placeholder="Ex : 34170"
            />
            <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
              <div *ngIf="f.zipCode.errors['required']">
                Champ non valide
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Email : </label>
          <div class="col-7 offset-1">
            <input
              class="form-control sharp glowOrange"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              formControlName="email"
              type="mail"
              placeholder="fidinamic@gmail.com"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors['required']">
                Champ non valide
              </div>
              <div *ngIf="f.email.errors['email']">Email non valide</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Date de naissance : </label>
          <div class="col-7 offset-1">
            <input
              type="date"
              class="form-control sharp glowOrange"
              placeholder="Expected Date"
              formControlName="birthdate"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div
              *ngIf="submitted && f.birthdate.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.birthdate.errors['required']">
                Champ non valide
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-around">
          <button class="btn btn-success btn-lg mt-4 sharp" type="submit">
            Creer client
          </button>

          <button class="btn btn-dark btn-lg mt-4 sharp" type="reset" routerLink="/client">
            Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</fieldset>
